body {
    margin: 0;
    padding: 0;
    background-image: url("./src/background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 40px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

#ball {
    display: none;
    position: absolute;

    background-color: black;
    border-radius: 100%;
    
    width: 80px;
    height: 80px;
}
#ball:before, #ball:after {
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid black;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s infinite;
    opacity: 0;
    backface-visibility: hidden;
}
#ball:after {
    animation-delay: 1.2s;
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

#playButton {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    box-shadow: 0px 10px 0px 0px #44146c;
}

#shareButton {
    border-radius: 10px;
    font-size: 20px;

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.35s ease, transform 0.35s ease;

    position: absolute;
    bottom: 0;
}

.buttons {
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;

    font-weight: bold;
    font-size: 40px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: black;

    border: 0px;
    border-radius: 10px;
    background-color: #a057db;

    box-shadow: 0px 8px 0px 0px #44146c;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;

    cursor: pointer;
    outline: none;
}

#timer {
    display: none;
    
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#countParagraph {
    display: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;

    position: relative;
    margin-top: 10px;
    text-align: center;
}

#telegram {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: 45px;
}

@media screen and (min-width: 720px) {
    .buttons, #timer, #countParagraph {
        font-size: 55px;
    }
    .buttons:hover {
        background-color: #9853d0;
    }
    #shareButton {
        font-size: 27px;
    }
    #ball {
        width: 120px;
        height: 120px;
    }
    #telegram {
        width: 60px;
        height: 60px;
    }
}
.buttons:active {
    background-color: #924fc9;
}

#shareButton:active {
    box-shadow: 0px 4px 0px 0px #44146c;
    bottom: -4px;
}
#playButton:active {
    box-shadow: 0px 4px 0px 0px #44146c;
    top: calc(50% + 6px);
}

.scale {
    transition: transform 0.3s ease-in-out;
}